<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body class="bg-slate-700 min-h-screen flex flex-col ">
    <div class="text-slate-200 p-4 flex-1">
        <div class="flex gap-10">
            <a href="/">
                <h1 class="text-5xl my-1 font-bold text-red-400">
                    Cinemarit.
                </h1>
            </a>
            <div class="self-center text-xl font-semibold  ">
                <a class="mr-auto  bg-red-400 p-2 rounded" href="/api/">
                    Movie API
                </a>
                
            </div>
            <div class="self-center text-xl font-semibold  ">
                <form action="" method="get">
                    <input type="text" name="movie_name" class="text-lg text-slate-700 p-1" placeholder="Search here">
                    <button type="submit" > 
                        <i class="fa fa-search text-2xl hover:scale-110"> </i>
                    </button> 
                </form>
            </div>
        </div>
        <p class="text-2xl font-semibold my-3"> Where imagination meets technology.</p>
        
        
        <div class="MovieList flex justify-center font-medium flex-wrap gap-5 text-wrap m-5">
            {% for movie in page_obj %}
                <div class="max-w-52 bg-slate-600 justify-center items-center p-2 rounded-md">
                    <img class="w-48 "  src="{{movie.image.url}}" alt="">
                    <!-- <p class="text-lg"> {{ movie.duration }} Mins </p> -->
                    <p class="text-black"> {{ movie.rating }} </p>
                    <p class="text-sm"> {{ movie.genre }} </p>
                    <p class="text-amber-400 text-xl text-center "> {{ movie.name }} </p>
                    
                </div>
            {% endfor %}
        </div> 
        </div>

        <div class="pagination text-white mx-auto flex 
         *:p-1 *:m-1 *:rounded ">
            
              {% if page_obj.has_previous %}
                <a class="bg-slate-400 hover:scale-105" href="?page=1">&laquo; first</a>
                <a class="bg-slate-400 hover:scale-105" href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              
              <span class="current bg-gray-600">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              
              {% if page_obj.has_next %}
                <a class="bg-slate-400 hover:scale-105" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="bg-slate-400  hover:scale-105" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            
          </div>  
      <div class="pagenav mx-auto flex gap-1 justify-center items-center p-4
            *:rounded mt-auto text-slate-100 mb-10">   

        <!-- Navigation using Pagination -->
            <!-- Backward Nav Arrow -->
                <!-- Note that Django Template Language doesnt support
                complex arithmatic other than addition, Hence 
                Lets handle logic and pass prev_page_num and next_page_num 
                in context  -->

            {% if page_obj.has_previous %} 
                        
                <a class="bg-slate-400 py-1 px-2" href="?page={{page_obj.previous_page_number}}"> < </a>
                        
            {% endif %}
            
        <!-- Individual Page buttons -->
            {% for i in page_obj.paginator %}
                        
                        {% if i.number == page_obj.number %} 
                        <a class="bg-slate-600 py-1 px-2" href="?page={{i.number}}">{{i.number}}</a>
                        {% else %}
                        <a class="bg-slate-400 py-1 px-2" href="?page={{i.number}}">{{i.number}}</a>
                        {% endif %}
            {% endfor %}

        <!-- Forward Nav Arrow -->
            {% if page_obj.has_next %} 
                        
                <a class="bg-slate-400 py-1 px-2" href="?page={{page_obj.next_page_number}}"> > </a>
                        
            {% endif %}
           
        </div>   
    
</body>
</html>